<chaps-lib-main-theme>
    <h1 class="mb-5">Angular components library. By Jorge Chaparro</h1>

    <section class="p-4 border">
        <h1 class="mb-3">Tags and classes for typography: </h1>
        <h1>Así se ve el contenido de una etiqueta H1</h1>
        <h2>Así se ve el contenido de una etiqueta H2</h2>
        <h3>Así se ve el contenido de una etiqueta H3</h3>
        <h4>Así se ve el contenido de una etiqueta H4</h4>
        <h5>Así se ve el contenido de una etiqueta H5</h5>
        <h6>Así se ve el contenido de una etiqueta H6</h6>
        <p>Así se ve el contenido de una etiqueta p</p>
    </section>

    <div class="p-4 border row">
        <h1 class="mb-3">Components and widgets:</h1>

        <section class="row">
            <h2>Buttons:</h2>
            <article class="col-3">
                <chaps-lib-button 
                    [buttonLabel]="'Click me!'"
                    [buttonClass]="'success'"
                    (onClicked)="onClickButton()">
                </chaps-lib-button>
            </article>
            <article class="col-3">
                <chaps-lib-button 
                    [buttonLabel]="'Click me!'"
                    [buttonClass]="'info'"
                    (onClicked)="onClickButton()">
                </chaps-lib-button>
            </article>
            <article class="col-3">
                <chaps-lib-button 
                    [buttonLabel]="'Click me!'"
                    [buttonClass]="'warning'"
                    (onClicked)="onClickButton()">
                </chaps-lib-button>
            </article>
        </section>

        <section class="row">
            <h2>Input:</h2>
            <article class="col-3">
                <chaps-lib-input></chaps-lib-input>
            </article>
        </section>

        <section class="row">
            <h2>Paginator:</h2>
            <article class="col-3">
                <chaps-lib-paginator></chaps-lib-paginator>
            </article>
        </section>

        <section class="row">
            <h2>Loader:</h2>
            <article class="col-3">
                <chaps-lib-button 
                    [buttonLabel]="'Click me to show loader!'"
                    [buttonClass]="'success'"
                    (onClicked)="onClickButton()">
                </chaps-lib-button>
            </article>
            <chaps-lib-loader></chaps-lib-loader>
        </section>

        <section class="row">
            <h2>Alerts:</h2>
            <article class="col-3">
                <chaps-lib-button 
                    [buttonLabel]="'Click me to show alerts!'"
                    [buttonClass]="'success'"
                    (onClicked)="onClickButton()">
                </chaps-lib-button>
            </article>
            <chaps-lib-alert></chaps-lib-alert>
        </section>
    </div>
</chaps-lib-main-theme>